@model IEnumerable<My_Project.Areas.Restaurant.ViewModels.ShowOrderViewModel>

@{
    ViewData["Title"] = "ApproveOrder";
    Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}
<style>
    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }

        table caption {
            font-size: 1.5em;
            margin: .5em 0 .75em;
        }

        table tr {
            background-color: #f8f8f8;
            border: 1px solid #ddd;
            padding: .35em;
        }

        table th,
        table td {
            padding: .625em;
            text-align: center;
        }

        table th {
            font-size: .85em;
            letter-spacing: .1em;
            text-transform: uppercase;
        }

    @@media screen and (max-width: 600px) {
        table {
            border: 0;
        }

            table caption {
                font-size: 1.3em;
            }

            table thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            table tr {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: .625em;
            }

            table td {
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: .5em;
                text-align: right;
            }

                table td::before {
                   
                    content: attr(data-label);
                    float: left;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                table td:last-child {
                    border-bottom: 0;
                }
    }
    /* general styling */
   
    .btn{
        border-radius:3px;
    }

   
</style>

<div class="py-4">
    <label class="text-blue"><i class="fas fa-hamburger"> &nbsp;Unapproved Order</i></label>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td data-label="Order Id">
                @item.OrderId
            </td>
            <td data-label="Order Date">
                @item.OrderDate
            </td>

            <td data-label="Total Price">
                @item.TotalPrice
            </td>
            <td>
                <label class="btn btn-danger" onclick="btnApprove(@item.OrderId)">Approve Order</label>
            </td>
            <td>
                <a class="btn btn-success" asp-route-OrdId="@item.OrderId" asp-area="Restaurant" asp-controller="Restaurant" asp-action="ShowOrderDetail">Show Order</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    $(document).ready(() => {
        alert('ready');
    })
    const btnApprove = (id) => {
        $.ajax({
            url: location2 + "ApproveOrder",
            type: "Post",
            data: { OrdId: id },
            success: (response) => {
                if (response == "true") {
                    window.location = location2 + "ApproveOrder";
                }
                else {
                    alert("Update Status fail");
                }
            }
        })
    }
</script>